name: Build JS
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: flarum/action-build@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
